@charset "UTF-8";

header {
	background: #FD0004;
	background-color: #FD0004;
	
}

body {
	background-color: beige;
}

h1 { 
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	align-content: center;
	align-items: center;
	align-self: center;
}

buttons { 
	background-color: #FD0004
}

footer {
	display: block;
}

